<?xml version="1.0" encoding="utf-8"?>

<!--Staging IKOULA-->

<!-- Pour plus d'informations sur l'utilisation de la transformation web.config, consultez la page http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/MyError/UnHandledException" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/MyError/NotFound"/>
      <error statusCode="403" redirect="~/MyError/AccessDenied"/>
    </customErrors>
    <trace enabled="true" requestLimit="40" localOnly="false" xdt:Transform="Replace"/>
  </system.web>

  <connectionStrings>
    <add name="DefaultConnection"
        connectionString="data source=.\MSSQLSERVER2012;
        initial catalog=NorthWnd;
        Persist Security Info=True;
        User ID=cdf54projet;
        Password=p@ssword2014"
        providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="NORTHWNDEntities"
        connectionString="metadata=res://*/Models.NorthWind.csdl|res://*/Models.NorthWind.ssdl|res://*/Models.NorthWind.msl;provider=System.Data.SqlClient;&#xD;&#xA;         
        provider=System.Data.SqlClient;
        provider connection string=&quot;
        Data Source=.\MSSQLSERVER2012;
        Initial Catalog=NorthWnd;
        User ID=cdf54projet;
        Password=p@ssword2014;
        MultipleActiveResultSets=True;
        App=EntityFramework&quot;"
        providerName="System.Data.EntityClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="cdf54.Status" value="Staging IKOULA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ShowDemoExceptionLinks" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- http://www.codeproject.com/Articles/140911/log4net-Tutorial -->
    <root>
      <level value="ALL" xdt:Transform="Replace"/>
    </root>
  </log4net>

  <elmah xmlns="http://Elmah.Configuration">
    <security allowRemoteAccess="true" xdt:Transform="Replace"/>
    <errorMail from="tfscdf54@gmail.com"
                    to="tfscdf54@gmail.com"
                    cc=""
                    subject="CDF 54 ELMAH Error"
                    async="true"
                    smtpPort="587"
                    useSsl="true"
                    smtpServer="smtp.gmail.com"
                    userName="tfscdf54@gmail.com"
                    password="f825c887af84277933f2b934d803000c" xdt:Transform="Insert" />
  </elmah>

  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <authorization>
        <allow xdt:Transform="Remove" />
        <allow users="Admin,Dev" xdt:Transform="Insert" />
        <deny users="*" xdt:Transform="Insert"/>
      </authorization>
    </system.web>
  </location>

</configuration>