<?xml version="1.0" encoding="utf-8"?>

<!--Test NAS-->

<!-- Pour plus d'informations sur l'utilisation de la transformation web.config, consultez la page http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" defaultRedirect="~/MyError/UnHandledException" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/MyError/NotFound"/>
      <error statusCode="403" redirect="~/MyError/AccessDenied"/>
    </customErrors>
    <trace enabled="true" requestLimit="40" localOnly="false" xdt:Transform="Replace"/>
  </system.web>

  <connectionStrings>
    <add name="DefaultConnection"
        connectionString="data source=JA-NAS-01\SQLEXPRESS;
        initial catalog=NORTHWND;
        Persist Security Info=True;
        User ID=cdf54projet;
        Password=p@ssword"
        providerName="System.Data.SqlClient"
        xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="NORTHWNDEntities"
        connectionString="metadata=res://*/Models.NorthWind.csdl|res://*/Models.NorthWind.ssdl|res://*/Models.NorthWind.msl;provider=System.Data.SqlClient;
        provider=System.Data.SqlClient;         
        provider connection string=&quot;       
        Data Source=JA-NAS-01\SQLEXPRESS;         
        Initial Catalog=NORTHWND;      
        User ID=cdf54projet;        
        Password=p@ssword;         
        MultipleActiveResultSets=True;                  
        App=EntityFramework&quot;"
        providerName="System.Data.EntityClient"
        xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="cdf54.Status" value="Test NAS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ShowDemoExceptionLinks" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- http://www.codeproject.com/Articles/140911/log4net-Tutorial -->
    <root>
      <level value="ALL" xdt:Transform="Replace"/>
    </root>
  </log4net>

  <elmah xmlns="http://Elmah.Configuration">
    <security allowRemoteAccess="true" xdt:Transform="Replace"/>
  </elmah>

  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <authorization>
        <allow xdt:Transform="Remove" />
        <allow users="admin" xdt:Transform="Insert" />
        <deny users="*" xdt:Transform="Insert"/>
      </authorization>
    </system.web>
  </location>

</configuration>