<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--Local-->
    <!--<add key="adressWebApiServer" value="http://localhost:5555"/>-->
    <!--Developement VM local-->
    <!--<add key="adressWebApiServer" value="http://w8-pro-64/NorthWind/"/>-->
    <!--Test NAS-->
    <!--<add key="adressWebApiServer" value="http://82.224.84.131/NorthWind"/>-->
    <!--Integration VM cdf54-->
    <!--<add key="adressWebApiServer" value="http://195.5.238.130/NorthWind"/>-->
    <!--Staging IKOULA-->
    <add key="adressWebApiServer" value="http://www.jow-alva.net/NorthWind/"/>
  </appSettings>
</configuration>