<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" data-show="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-danger" id="myModalLabel"><span class="glyphicon glyphicon-thumbs-up"></span> NorthWind54 <span class="glyphicon glyphicon-thumbs-up"></span></h4>
</div>
            <div class="modal-body text-muted">
                <p>
                    This project use the popular database <strong> "NorthWind" </strong>as support for an example of using <strong>ASP. NET MVC5</strong> in conjunction with <strong>Entity Framework 6</strong>.
                <p class="small">
                    Also implemented: <strong>WebApi2</strong> with (ASP.NET page, HTML page, Console and Windows Forms) clients and <strong>ASP.NET Identity</strong>.
                </p>
                <p class="small">
                    Include: Visio file (MVC.vsdx) explaning MVC pipeline and modeling project with some UML diagrams.
                </p>
            </div>
            <div class="modal-footer">
                <p>54000 NANCY-FRANCE</p>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-eye-close"></span> Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
