@{
    ViewBag.Title = "About";
}
<!-- Begin Modal -->
@section scripts {
    <script type="text/javascript">
        $('#myModal').modal('show');
    </script>
}
@Html.Partial("_ModalPartial")
<!-- End Modal -->

<h2>@ViewBag.Title.</h2>

<h3>@ViewBag.Message</h3>
<p>
This project uses the popular database "NorthWind" as support for an example of using ASP. NET MVC5 in conjunction with Entity Frameword 6.<br />
Also implemented, WebApi2 and clients (console and Windows Forms).<br />
Visio file (MVC.vsdx) explaning MVC pipeline.<br />
Modeling project with some UMLclass and sequence diagrams.
</p>

<h3>Technologies</h3>
@MyRazorHelpers.Technos()

<h3>TODO</h3>
<ul>
    <li>
        For now admin cannot reset user password, he can only change his password.
    </li>
    <li>
        Only the user can change his password.
    </li>
    <li>
        Forgot password is not implemented.
    </li>
    <li>
        Bootstrap alerts in Manage view.
    </li>
</ul>