@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script type="text/javascript">
        $('#popoverData').tooltip();
    </script>
}

<div class="jumbotron">
    <h1>NorthWind54</h1>
    <p class="lead">
        NorthWind revisited with <strong><abbr title="Active Server Page for .NET">ASP.NET</abbr> <abbr title="Model-View-Controller">MVC</abbr>5</strong>.
    </p>
    <div class="btn-group">
        <button id="popoverData" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-content="Popover with data-trigger" data-placement="top" data-original-title="Full code on..." data-trigger="hover">
            <span class="glyphicon glyphicon-file"></span> Code On <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="http://northwind54.codeplex.com/" target="_blank">Code on CodePlex</a></li>
            <li><a href="https://github.com/jalvarez54/NorthWind54" target="_blank">Code on Github</a></li>
        </ul>
    </div>
</div>
<blockquote>
    <p style="font-size:large"> Usage:</p>

    <footer>Some code is protected with <strong>"Annotation"</strong> and other with <strong>"IsUserInRole().</strong>"</footer>
    <footer>When authentication is required: UserName="<strong>admin OR dev</strong>" Password="<strong>p@ssword</strong>".</footer>
    <footer>[<span class="glyphicon glyphicon-print"></span> (pdf)] = <em>pdf printable, see</em> <strong>PDF</strong> <em>button appearing in nav bar.</em></footer>
    <footer></footer>
    <footer>For Category and Product <strong>Details</strong> enter manualy the URL.</footer>
    <footer>Ex: <a href="http://www.jow-alva.net/NorthWind/Category/Details/5">http://www.jow-alva.net/NorthWind/Category/Details/5</a></footer>
    <footer>Ex: <a href="http://www.jow-alva.net/NorthWind/Product/Details/5">http://www.jow-alva.net/NorthWind/Product/Details/5</a></footer>

</blockquote>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Technologies
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    @MyRazorHelpers.Technos()
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Tools
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Elmah, log4net, Glimpse, rotativa
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Links
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="http://northwind54.codeplex.com/" target="_blank">Code on CodePlex</a></li>
                        <li><a href="http://github.com/jalvarez54/NorthWind54/" target="_blank">Code on GitHub</a></li>
                        <li><a href="http://jalvarez54.wordpress.com/" target="_blank">My WordPress</a></li>
                    </ul>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
@*<a id="popoverData" class="btn" href="#" data-content="Popover with data-trigger" rel="tooltip" data-placement="bottom" data-original-title="Title" data-trigger="hover">Popover with data-trigger</a>*@